/* For Webkit browsers (Chrome, Safari, newer versions of Opera) */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #00416A, #ee7622);
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #00538a, #ff8c38);
  }
  
  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #00416A #f1f1f1;
  }